.title {
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0;
}
th {
  text-align: center;
  width: 20px;
  height: 20px;
}
img {
  height: 100px;
}
td {
  text-align: center;
  width: 20px;
  height: 20px;
}
